
.cert{
   
    width:auto;
    height:auto;
    position:relative;
    border:1px #333 solid;
    text-align: center;
    border:1px red dashed;
    margin-left:auto;
    margin-right:auto;

    background-size: 100%;
    background-position: 0 0;
    padding:0px;
    text-align: left;
}

.cert img{
    margin:0px;
    width:70%;
    height:auto;
}


#name{
    position:absolute;
    left: 220px;
    top:334px;
    width:700px;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
   }
.big-font{
    font-size:36pt;
}

.small-font{
    font-size:24pt;
}

#date{
position:absolute;
left: 280px;
top:651px;
 font-size:18pt;
 font-family:Arial, Helvetica, sans-serif;
 text-transform: uppercase;
}

.no-border{
    border:0px;
}

#create_pdf{
    position:absolute;
    top:50px;
    left:50px;
    z-index:10;
}
