
.cert{
   
    width:1054px;
    height:816px;
    border:1px #333 solid;
    text-align: center;
  
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    padding-left:50px;
    padding-right:70px;
    display:flex;
    flex-direction: column;
    justify-items: center;
}

.cert >*{
    margin-bottom:50px;

}
.cert>h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:32pt;
    text-align:center;
}
.cert>img.cs-icon{
    width:130px;
    height:auto;
    align-self: center;
}

.cert p{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20pt;
    line-height:35pt;
}
.cert .course{
    font-weight: bold;
    color:#0b553c;
}

#name{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
   }
.footer{
    border:red 0px dashed;
    display:flex;
    margin-top:120px;
}
#date{
    font-size:18pt;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
   
   }

#buffy{
    width:200px;
    height:auto;
    margin-left:auto;
}


.strip{
   width:100%;
   height:100px;
   position:fixed;
   bottom:0px;
   left:0px;
   margin-bottom:0px;
   background-color:#000 ;
   text-align: center;

}


#create_pdf{
    position:absolute;
    top:35px;
    color:white;
    background-color:#0b553c;
    font-weight:bold;
    font-size:16px;
    border-radius:6px;
    border: none;
    text-align:center;
    display:inline-block;
    padding: 10px;
}


.big-font{
    font-size:36pt;
}

.small-font{
    font-size:24pt;
}

.no-border{
    border:0px;
}
